.linkWrapper {
    display: inline-block;
}

.size33 {
    width: 33%;
}

.size50 {
    width: 50%;
}

.size100 {
    width: 100%;
}

.z1 {
    z-index: 1;
}

.z2 {
    z-index: 2;
}

.z3 {
    z-index: 3;
}

// Custom CSS for blob placement
.UXUICourse {
    margin-left: -10%;
}