@import "~styles/colors";
@import "~styles/breakpoints";

.menuRouteChunk {
    display: flex;
    flex-direction: column;
		margin: 4rem;

		@include md {
			margin: 2rem 0 0 1rem;
		}
}

.menuRouteChunk:first-of-type {
	margin-top: 5rem;
}

.menuLink {
    color: $black;
		margin-top: 2rem;
		@include md {
			margin-top: 1rem;
		}
}
