@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro|Nova+Mono');

@font-face {
    font-family: "Anonymous Pro", monospace;
    src: url("https://fonts.googleapis.com/css?family=Anonymous+Pro");
}

@font-face {
    font-family: "Nova Mono", monospace;
    src: url("https://fonts.googleapis.com/css?family=Nova+Mono'");
}