@import "~styles/colors";
@import "~styles/fonts";

// Elements
body, html {
    margin: 0;
    font-size: 14px;
    font-family: "Anonymous Pro";
}

body {
    position: relative;
}

h1, h2, h3, p {
	padding: 0;
	margin: 0;
}

h1 {
	font-size: 2.5rem;
}

iframe {
	width: 100%;
}
