@import "~styles/colors";
@import "~styles/fonts";

body, html {
    margin: 0;
    font-size: 40px;
    font-family: "Anonymous Pro";
}

html {
    height: 100%;
}

body {
    min-height: 100%;
}

#app {
    min-height: 100%;
}

.nonNavWrapper {
    margin-bottom: 200px;
    min-height: 100%;
}