@import "~styles/colors";
@import "~styles/fonts";

body, html {
    margin: 0;
    font-size: 16px;
    font-family: "Anonymous Pro";
}

body {
    position: relative;
}

.nonNavWrapper {
    margin-bottom: 200px;
}
