@import "~styles/colors";

.menu {
    height: 100%;
    width: 100%;
    background-color: $orange;
    display: none;
}
.displayMenu-true {
    display: block;
}

.menuButton {
    border: none;
    background-color: transparent;
}

.menuButton:focus {
    outline: none;
}

.navWrapper {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0.5rem;
    display: flex;
    align-content: center;
    justify-content: center;
    border-top: solid 1px $lightgray;
    background-color: $white;
}

.navContainer {
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 75%;
}

.navContentHeight {
    max-height: 1.5rem;
}

.logo {
    width: 3.5rem;
    @extend .navContentHeight;
}

.openMenuIcon {
    @extend .navContentHeight;
}