@import "~styles/colors";

.menu {
    height: 91vh;
    width: 100%;
    background-color: $orange;
    flex-direction: column;
    justify-content: center;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000,
}
.displayMenu-true {
    display: flex;
}

.menuButton {
    border: none;
    background-color: transparent;
}

.menuButton:focus {
    outline: none;
}

.navWrapper {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 48px 0;
    display: flex;
    align-content: center;
    justify-content: center;
    border-top: solid 1px $gray;
    background-color: $white;
    z-index: 1000;
}

.navContainer {
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 84%;
}

.navContentHeight {
    height: 64px;
}

.logo {
    @extend .navContentHeight;
}

.openMenuIcon {
    @extend .navContentHeight;
}