@import "~styles/breakpoints";

.pageWrapper {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	justify-content: center;
	padding-bottom: 84px;

	@include md {
		max-width: 80%;
		flex-direction: row;
		justify-content: flex-start;
		padding-bottom: 0;
	}
}