.imageImg {
	width: 100%;
}

.imagehalf {
	// Content block padding for mobile is 8%
	// This allows for a central 8% margin.
	width: 48%;
}

.imagefull {
	width: 100%;
}

.imageWrapper {
	margin-top: 4%;
}

.imageWrapper:first-of-type {
	margin-top: 0;
}